
//**************************
//Font and Color Variabales
//**************************
$primary-color: #455a64;
$secondary-color: #b2dfdb;
$body-font:'Limelight', cursive;
$headline-font:'Nickelodeon', cursive;




body{
	background-color:$primary-color;
}
label{
	color: #000;
}
button{
	font-family:$body-font;
}
a{
	font-family:$body-font;
}
#search-form {
	padding: 0;
	background-color:$secondary-color;
}
h2 {
	display: inline;
	color: #fff;
	font-family:$headline-font;
}
img{
	height: 20em;
}
.card{
	height: 30em;
}
.card-fixed{
	margin-top: 4em;
}
.more-info{
	margin-right: 0;
}